.main-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-page__main {
  display: flex;
  justify-content: space-between;
}

.main-page__smile-form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 41px 0 0 45px;
  width: 50%;
  align-items: center;
}

@media screen and (max-width: 1099px) {
  .main-page__smile-form-wrapper {
    padding: 41px 0 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .main-page__main {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .main-page__smile-form-wrapper {
    padding: 41px 0 0 0;
  }
}
