.contact-form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 44px;
}

.contact-form__form {
  display: flex;
  flex-direction: column;
}

.contact-form__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
  margin: 0 0 36px 0;
}

.contact-form__input {
  min-width: 557px;
  box-sizing: border-box;
  padding: 30px 45px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #2d2d2d;

  margin-bottom: 8px;
}

.contact-form__input::placeholder {
  color: #2d2d2d;
}

.contact-form__input_type_textarea {
  margin-bottom: 23px;
  height: 189px;
}

.contact-form__button {
  background: #fad34f;
  border-radius: 500px;
  border: 1px solid #fad34f;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  box-sizing: border-box;

  padding: 27px 0;
  max-width: 218px;

  transition: all 0.6s ease;
}

.contact-form__button:hover {
  background: #ffffff;
  color: #fad34f;
}
