.contact-form {
  display: flex;
  flex-direction: column;
  padding: 50px 0 15px 44px;
  z-index: 20;
}

.contact-form__form {
  display: flex;
  flex-direction: column;
}

.contact-form__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
  margin: 0 0 36px 0;
}

.contact-form__input {
  min-width: 557px;
  box-sizing: border-box;
  padding: 30px 45px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #2d2d2d;

  margin-top: 8px;
}

.contact-form__input:first-child {
  margin-top: 0;
} 

.contact-form__input::placeholder {
  color: #2d2d2d;
}

.contact-form__input_type_textarea {
  height: 189px;
}

.contact-form__button-wrapper {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
}

.contact-form__error-status {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #ee3465;
}

.contact-form__success-status {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: green;
}

.contact-form__button {
  background: #fad34f;
  border-radius: 500px;
  border: 1px solid #fad34f;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  box-sizing: border-box;

  padding: 27px 0;
  max-width: 218px;
  width: 100%;

  transition: all 0.6s ease;
}

.contact-form__button:hover {
  background: #ffffff;
  color: #fad34f;
}

.contact-form__error-message {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #ee3465;
}

@media screen and (max-width: 1099px) {
  .contact-form__heading {
    font-size: 30px;
    line-height: 130%;
    margin: 0 0 25px 0;
  }

  .contact-form__input {
    min-width: 300px;
    padding: 30px 15px;
  }
}

@media screen and (max-width: 767px) {
  .contact-form {
    align-items: center;
    padding: 50px 0 15px;
  }

  .contact-form__form {
    align-items: center;
  }
}
