.footer {
  background: #fafafa;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  padding: 0 0 0 58px;
}

.footer__links-smile-wrapper {
  display: flex;
  align-items: center;
}

.footer__links-list {
  display: flex;
  padding: 0;
  margin: 0 0 0 70px;
  display: flex;
}

.footer__link-item {
  list-style: none;
  margin-right: 25px;
}

.footer__link-item:last-of-type {
  margin-right: 0;
}

.footer__smiles-wrapper {
  display: flex;
}
